.nav {
  text-transform: uppercase;
  @media screen and (max-width: $tablet-width) {
    font-size: 22px;
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    @media screen and (max-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      padding-left: 20px;
    }
  }

  &__item {
    padding: 8px 24px;
    list-style-type: none;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
    }

    &.phone--hidden {
      display: none;
      @media screen and (max-width: $tablet-width) {
        &.active {
          display: block;
          padding-left: 20px;
          font-size: 12px;
          line-height: 28px;
          z-index: 2;
        }
        &:first-child.active {
          padding-top: 48px;
        }
      }
    }
  }

  &__link {
    color: $header-color;
    text-decoration: none;
    @include hover(color, $header-color-active);
  }
}
