.testimonials {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width:  $tablet-width) {
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
}

.person {
  max-width: 240px;
  flex: 0 0 240px;
  text-align: center;
  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }
  &:last-child {
    @media (max-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &__photo {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 28px;
  }

  &__name {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  &__position {
    margin: 0;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }

  &__text {
    color: $section-text-color;
    margin: 0;
  }
}
