$c-gray: #eee;
$header-color: #fff;
$header-color-active:  #9fadc2;
$section-text-color: #3e3e3e;
$link-color: #0075ff;
$logo-width: 115px;
$logo-height: 76px;
$logo-min-width: 73px;
$logo-min-height: 48px;
$tablet-width: 768px;
$gap: 20px;
