h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

html,
body {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  position: relative;
  height: 700px;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  font-weight: 700;
  letter-spacing: 2px; }
  @media screen and (max-width: 800px) {
    .header {
      height: 100vh;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }
  .header__nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 25px;
    left: 25px;
    bottom: 48px;
    margin: auto; }
    @media screen and (max-width: 800px) {
      .header__nav {
        position: relative;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: #0075ff;
        margin: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .header__nav.active {
          top: 0;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          padding-top: 120px;
          padding-bottom: 60px; } }
  .header__link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid;
    text-transform: uppercase;
    padding-bottom: 8px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__link:hover {
      color: #9fadc2; }
  .header__top {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 25px;
    right: 25px;
    top: 24px;
    color: #fff;
    margin: auto; }
    @media screen and (max-width: 800px) {
      .header__top {
        position: absolute;
        left: 25px;
        right: 25px; } }
  .header__phone, .header__action {
    position: relative;
    top: 32px; }
    @media screen and (max-width: 800px) {
      .header__phone, .header__action {
        display: none; } }
  .header__text {
    position: absolute;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    padding-top: 16px;
    bottom: 0; }
    .header__text::before {
      content: "";
      position: absolute;
      background-color: #fff;
      height: 2px;
      width: 35px;
      top: 0; }
    @media screen and (max-width: 800px) {
      .header__text {
        font-size: 46px;
        line-height: 40px;
        left: 20px;
        bottom: 0; } }
  .header__burger {
    display: none; }
    @media screen and (max-width: 800px) {
      .header__burger {
        display: block;
        position: relative;
        background-image: url(../images/sandwich.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 18px;
        height: 12px;
        z-index: 3;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .header__burger.active {
          background-image: url(../images/closeSandwich.svg);
          width: 16px;
          height: 16px;
          z-index: 3; } }
  .header__phone--img {
    display: none; }
    @media screen and (max-width: 800px) {
      .header__phone--img {
        display: block;
        background-image: url(../images/phone.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px; } }

.nav {
  text-transform: uppercase; }
  @media screen and (max-width: 800px) {
    .nav {
      font-size: 22px; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; }
    @media screen and (max-width: 800px) {
      .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding-left: 20px; } }
  .nav__item {
    padding: 8px 24px;
    list-style-type: none; }
    .nav__item:first-child {
      margin-left: 0; }
    .nav__item--active {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px; }
    .nav__item.phone--hidden {
      display: none; }
      @media screen and (max-width: 800px) {
        .nav__item.phone--hidden.active {
          display: block;
          padding-left: 20px;
          font-size: 12px;
          line-height: 28px;
          z-index: 2; }
        .nav__item.phone--hidden:first-child.active {
          padding-top: 48px; } }
  .nav__link {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #9fadc2; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .logo {
      width: 73px;
      height: 48px;
      z-index: 3; } }

.section {
  padding: 152px 9% 0;
  position: relative;
  font-size: 16px;
  line-height: 27px;
  background-color: white;
  color: #3e3e3e; }
  .section__heading {
    position: relative;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 93px;
    color: #000; }
    .section__heading::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 16px;
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      top: calc(100% + 7px);
      right: calc(50% - 23px / 2); }
  .section__content {
    width: 100%; }

@media screen and (max-width: 800px) {
  .section {
    padding: 64px 6% 0; }
    .section__heading {
      margin-bottom: 53px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    max-width: 350px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    margin: 0; }
  .info__link {
    font-weight: bold;
    color: #0075ff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .info__link:hover {
      color: rgba(0, 117, 255, 0.5); }
  .info__text {
    max-width: 500px; }
    .info__text > :first-child {
      margin-top: 0; }
    .info__text > :last-child {
      margin-bottom: 0; }

@media screen and (max-width: 800px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__heading {
      margin-bottom: 48px; } }

.gallery__caption {
  margin: 24px 0 40px; }

.gallery .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .gallery .photos__img1, .gallery .photos__img2, .gallery .photos__img3, .gallery .photos__img4, .gallery .photos__img5, .gallery .photos__img6 {
    width: calc(50% - 10px);
    height: 256px;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }
    @media screen and (max-width: 800px) {
      .gallery .photos__img1, .gallery .photos__img2, .gallery .photos__img3, .gallery .photos__img4, .gallery .photos__img5, .gallery .photos__img6 {
        height: 131px; } }
  .gallery .photos__img1, .gallery .photos__img6 {
    width: calc(67% - 10px); }
    @media screen and (max-width: 800px) {
      .gallery .photos__img1, .gallery .photos__img6 {
        width: calc(50% - 10px); } }
  .gallery .photos__img2, .gallery .photos__img5 {
    width: calc(33% - 10px); }
    @media screen and (max-width: 800px) {
      .gallery .photos__img2, .gallery .photos__img5 {
        width: calc(50% - 10px); } }
  .gallery .photos__img3, .gallery .photos__img4 {
    width: calc(50% - 10px); }

.gallery__btn {
  margin: 40px auto 0;
  width: 188px; }

.link {
  color: #0075ff;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .link:hover {
    color: rgba(0, 117, 255, 0.5); }

.button {
  display: block;
  font-size: 14px;
  color: #0075ff;
  background-color: #fff;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  height: 56px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: background-color color box-shadow;
  transition-property: background-color color box-shadow; }
  .button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    background-color: #0075ff;
    color: white; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 16px; }
  .form__input, .form__btn {
    width: 100%; }
  .form__btn {
    margin-top: 16px; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .consultation__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px; }
  .consultation__text {
    width: calc(42% - 10px); }
  .consultation__form {
    width: calc(42% - 10px); }

@media screen and (max-width: 800px) {
  .consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .consultation__text {
      width: 100%; }
    .consultation__form {
      width: 100%; } }

.input {
  height: 48px;
  font-weight: normal;
  font-size: 14px;
  background: #f7f8ff;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding-left: 38px; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input::-moz-placeholder {
    color: #b9c1ce; }
  .input:-ms-input-placeholder {
    color: #b9c1ce; }
  .input::-ms-input-placeholder {
    color: #b9c1ce; }
  .input::placeholder {
    color: #b9c1ce; }
  .input__texterea {
    font-family: "Roboto", sans-serif;
    line-height: 27px;
    height: 144px;
    padding-top: 14px;
    margin-bottom: 16px; }

.testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 800px) {
    .testimonials__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.person {
  max-width: 240px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  text-align: center; }
  @media (max-width: 800px) {
    .person {
      margin-bottom: 50px; } }
  @media (max-width: 800px) {
    .person:last-child {
      margin-bottom: 0; } }
  .person__photo {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 28px; }
  .person__name {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px; }
  .person__position {
    margin: 0;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2; }
  .person__text {
    color: #3e3e3e;
    margin: 0; }

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 359px;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 40px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(42% - 10px); }
    @media screen and (max-width: 800px) {
      .contact__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .contact__form {
    width: calc(42% - 10px);
    padding-bottom: 88px; }
  .contact__heading {
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin: 0; }
  .contact__text {
    color: #3e3e3e;
    min-width: 175px;
    line-height: 2em;
    margin-top: 8px;
    margin-bottom: 24px; }

@media screen and (max-width: 800px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__form, .contact__info {
      width: 100%; } }

body {
  background: #eee;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 12px; }

.main {
  width: 100vw; }

/*# sourceMappingURL=main.css.map */
